html {
    font-size: 62.5%; // 1rem is 10px
    background-color: #00171d;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Rubik', sans-serif;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    background: #00171d;
    height: 800px;
}

.header {
    margin-top: 60px;
    color: #faf0e6;
    font-size: 2rem;
}

.header h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.image_wrapper {
    width: 600px;
    height: 500px;
    border: 2px solid rgba(255, 255, 255, 0.50);
}

.image {
    height:500px;
    width:600px;
    position:relative;
}

.box-gallery .bg-img img {
    width: 600px;
    height: 500px;
}

.weather { 
    display: flex;
    justify-content: center;
    width: 400px;
    height: 500px;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 2px solid rgba(255, 255, 255, 0.50);
}


.readout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    font-size: 1.5rem;
    color: #faf0e6;
}