html {
    font-size: 62.5%; // 1rem is 10px
    background-color: black;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    background: black
}

.header {
    color: orange;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.image_wrapper {
    width: 500px;
    height: 500px;
    border: 2px solid white;
}

.image {
    height:500px;
    width:500px;
    position: fixed;
}

.box-gallery .bg-img img {
    width: 500px;
    height: 500px;
}




.weather { 
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: gray;
    border: 2px solid white;
}

.form {
    padding-top: 50px;
    position: fixed;
}

.readout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
}